<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2> Elapsed time=<%= elapsedTime %> </h2>
    <h2> Loss value = <%= lossValue %> </h2>

    <h2> <%= resultForData1 %> </h2>
    <h2> <%= resultForData2 %> </h2>
    <h2> <%= resultForData3 %> </h2>


</body>
</html>
